* {box-sizing: border-box}

/* Add padding to containers */
.container {
  margin-top: 6rem;

   padding: 20px;
   
  
}

.background-img{
  background-image: url('/img/bgimage.jpg');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.border-div{
  border: 2px solid black;
  border-radius: 0.77rem;
  
  
  
}
.shafi{
  margin-right: 100px;
}